@{
    ViewBag.Title = "Contact";
}

<style>
    .background-text {
        background-image: url('@Url.Content("~/Content/images/slider3.jpg")');
        background-size: cover;
        background-position: center;
        padding: 20px; /* Adjust padding as needed */
        color: black; /* Ensure text is readable */
        display: flex;
        align-items: center; /* Center content vertically */
        justify-content: center; /* Center content horizontally */
        height: 100vh; /* Adjust as needed to cover the full viewport height */
        text-align: center; /* Center text within the flex item */
    }
</style>

<div class="background-text">
    <div>
        
            <section>
                <h3>Contact Information</h3>
                <p>Address: 121     Steve Biko Rd, Musgrave, Berea, 4001</p>
                <p>Phone: 010-070-0170</p>
                <p>Email: MedEase@Campus Clini.com</p>
                <p><a href="https://www.google.com/maps" target="_blank">View on Google Maps</a></p>
            </section>

            <div>
                <address>
                    <strong>Support:</strong>   <a href="mailto:MedEase@CampusClinic.com">MedEase@CampusClinic.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:DutSopport@CampusClinic.com">DutSopport@CampusClinic.com</a>
                </address>

            </div>   
        

    </div>
</div>





@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:MedEase@CampusClinic.com">MedEase@CampusClinic.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:DutSopport@CampusClinic.com">DutSopport@CampusClinic.com</a>
</address>*@
